.header{
    background-color: rgb(213, 38, 38);
    padding: 100px;
    font-size: 38px;
    text-align: center;
    display: flex;
}
@media (max-width: 1200px){
    .header{
        font-size: 32px;
    } 
}